{% extends 'templates/base.html' %}

{% block title %}
{{product.name}}
{% endblock %}

{% block content %}
<hr>
<h3>{{product.name}}</h3>
<img src="{{product.image.url}}" width="200px" height="200px" style="border-radius: 20px">
<p>{{product.description}}</p>

<button id="buy-button" type="button" value="{{product.id}}">Buy, qty: {{qty}}</button>
<p id="basket"></p>
<script>
    object = document.getElementById('buy-button');
    object.addEventListener('click', function(e){
        e.preventDefault();
        var xhr = new XMLHttpRequest();

        xhr.onload = function(response) {
            const object_to_change = document.getElementById("basket");
            data = JSON.parse(response.srcElement.response);

            object_to_change.innerHTML = data['qty'];
                };

        xhr.open("POST", "{% url 'basket:add'%}");
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
        xhr.send('qty=1&productid={{product.id}}&csrfmiddlewaretoken={{csrf_token}}')
    })
</script>
{% endblock %}

