{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ecommerce{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="script" href="">
    {% block static %}{% endblock %}


</head>
<body>
    <div class="upperLine">
        <div class="homeAllbtn">
<h1><a href="{% url 'shop:home' %}">Home</a></h1>
<h1><a href="{% url 'shop:all' %}">All</a></h1>
        </div>
<div class="basketwish">
<div id="basket-summary"><h1><a href="{% url 'basket:basket_summary' %}">Basket</a></h1>
    <!-- <h4> total: <div id="total-qty">{% with total_qty=basket|length %}
    {% if total_qty > 0 %}
    {{basket|length}}
    {% else %}
    0
    {% endif %}
    {% endwith %}
    </div>
</h4> -->
</div>
<div id="wishlist-summary"><h1><a href="{% url 'wishlist:wishlist_summary' %}">Wishlist</a>
    <!--<p> wishlist total: <div id="total-qty-wishlist">{% with total_qty=wishlist|length %}
    {% if total_qty > 0 %}
    {{wishlist|length}}
    {% else %}
    0
    {% endif %}
    {% endwith %}
    </div>
    </p></div> -->
    </div>
</div>
</div>
    <div class="wrapper">
{% if user.is_authenticated %}

<a href="{% url 'accounts:logout' %}">logout</a>
        <p><a href="{% url 'accounts:dashboard' %}">Dashboard</a></p>

{% else %}
<p>Don't have an account?</p>
<a href="{% url 'accounts:register' %}">register</a>
<p>Already have an account?</p>
<a href="{% url 'accounts:login' %}">login</a>
{% endif %}
<hr>

{% block content %}


{% endblock %}
{% if user.is_authenticated %}
<h4>{{ user.email }}</h4>
{% endif %}
</div>
</body>
</html>
